<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <!-- Make it compatible to mobile devices -->
  
  <title>Heart Disease Percent</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body style="background: #fcf6f6;">
 <div class="container">
	<h1 style="color:rgb(21, 18, 21);">🔴🟡🟢Iris flower prediction🌼</h1>

     <!-- Action is where the data is sent. In our case, predict page.
     If action is omitted, it assumed to be the current page -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="sepal_length" placeholder="enter sepallength" required="required" /><p>
        <input type="text" name="sepal_width" placeholder="enter sepalwidth" required="required" /><p>
        <input type="text" name="petal_length" placeholder="enter petallength" required="required" /><p>
        <input type="text" name="petal_width" placeholder="enter petalwidth" required="required" /><p>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict the species🚀</button></p>
    </form>

   <br>
   <br>
   <h4 style="color:rgb(14, 13, 14);">
   {{ prediction_text }} </h4>

 </div>
</body>
</html>